/*tamanho da imagem */
* {
    padding: 0;
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, Tahoma, sans-serif;
}


/*ícone dentro do input de pesquisa */
input[type="text"] {
    padding: 10px;
    background-color: #fff;
    font: 12px Lucida, Verdana, sans-serif;
    color: #999;
    border: #ddd 1px solid;
    border-radius: 3px;
    background: #fff url(lupa.png) no-repeat 99% center;
    background-size: 10px;
}

/*erro 404 // 401 */
.backgroundErro404 {
	background-image: url(404erro.png);
	background-position: center;
	background-repeat: no-repeat;
}

.borde {
    border: 1px solid red;
}

.testeIsso {
    width: 100%;
    height: 100%;
}