 .btnw {
	display:block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #000;
	border: none !important;  
}

.btnw:focus{
	border-color: inherit; 
	-webkit-box-shadow: none; 
	box-shadow: none; 
}
.clear {
	clear: both;
}
.row {
 	background-color: rgba(1, 1, 1, 0.7);	
 }

@media (max-width: 990px) {
 	.img-fluid{
 		width: 200px !important;
 		margin-bottom: 5px;
 	} 
}